In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
msft.calendar
msft.sec_filings
# - income statement
msft.income_stmt
msft.quarterly_income_stmt
# - balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# - cash flow statement
msft.cashflow
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders
msft.insider_transactions
msft.insider_purchases
msft.insider_roster_holders

msft.sustainability

# show recommendations
msft.recommendations
msft.recommendations_summary
msft.upgrades_downgrades

# show analysts data
msft.analyst_price_targets
msft.earnings_estimate
msft.revenue_estimate
msft.earnings_history
msft.eps_trend
msft.eps_revisions
msft.growth_estimates

# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default.
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
opt = msft.option_chain('2024-09-06')
# data available via: opt.calls, opt.puts

In [16]:
market_cap = msft.fast_info.market_cap
print(f'market cap, B: {market_cap / 10**9:,.1f}')
price_50d_avg = msft.fast_info.fifty_day_average
print(f'price_50d_avg: {price_50d_avg:,.1f}')
vol_3m_avg = msft.fast_info.three_month_average_volume
print(f'vol_3m_avg, sh: {vol_3m_avg:,.0f}')
msft.history_metadata

market cap, B: 3,100.6
price_50d_avg: 431.5
vol_3m_avg, sh: 20,042,560

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1725048001,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 417.14,
 'fiftyTwoWeekHigh': 417.45,
 'fiftyTwoWeekLow': 412.13,
 'regularMarketDayHigh': 417.45,
 'regularMarketDayLow': 412.13,
 'regularMarketVolume': 24308324,
 'longName': 'Microsoft Corporation',
 'shortName': 'Microsoft Corporation',
 'chartPreviousClose': 328.79,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1725004800,
   'end': 1725024600,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1725024600,
   'end': 1725048000,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1725048000,
   'end': 1725062400,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '1y',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [4]:
msft.news

[{'uuid': '6c29a042-c15b-3085-badb-0fad7b13a4c8',
  'title': "Bill Gates Owns 20% of His Foundation's Portfolio in This Surprising Stock â€“ And It's Not Microsoft",
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/bill-gates-owns-20-foundations-201814470.html',
  'providerPublishTime': 1725308294,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': '53853143-a10b-3605-b449-e1264d627202',
  'title': 'VW considers closing German factory for first time in 87-year history',
  'publisher': 'The Telegraph',
  'link': 'https://finance.yahoo.com/m/53853143-a10b-3605-b449-e1264d627202/vw-considers-closing-german.html',
  'providerPublishTime': 1725299335,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/d_KK7odiAi3nzQzC6nkCdw--~B/aD0xNTYzO3c9MjUwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/the_telegraph_258/54a8c14626c51a6dd1f7ffc6415b8496',
     'width': 2500,
     'height': 1563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/UbqDwD87R8acq0vQAOraRg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/the_telegraph_258/54a8c14626c51a6dd1f7ffc6415b8496',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^FTSE',
   'RTMVY',
   'RPGRY',
   'LYG',
   'HPE',
   '^GDAXI',
   'MSFT',
   'VTMTF',
   '^HSI']},
 {'uuid': '09b9e2ec-d346-3ff0-ab72-9a02e15a4240',
  'title': 'Apple and Nvidia May Be Keen on Investing in OpenAI. Why It Only Works for One of Them.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/09b9e2ec-d346-3ff0-ab72-9a02e15a4240/apple-and-nvidia-may-be-keen.html',
  'providerPublishTime': 1725284820,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/yAsw4wK5lMgYKTiaD4EmHA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/307c74e37acb134ae0ac578d81b5f637',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/xJruHvMW.aD1GrVK1Nb71A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/307c74e37acb134ae0ac578d81b5f637',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AAPL', 'MSFT']},
 {'uuid': '2331a0d5-37d6-3de7-9cd1-570bf0e83fa7',
  'title': "Beyond Market Price: Uncovering Microsoft Corp's Intrinsic Value",
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/beyond-market-price-uncovering-microsoft-120021169.html',
  'providerPublishTime': 1725278421,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/W8zXTqxKqiKaStiEuLng3A--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/us.finance.gurufocus/67c64258ba132155d6cf23fca87ca9bf',
     'width': 400,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/SiqEWEN15Md0qh8lppKlIw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/us.finance.gurufocus/67c64258ba132155d6cf23fca87ca9bf',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'b93ab10a-0bc4-4f29-aa25-330ae188dc2f',
  'title': 'Crucial jobs report kicks off a new month: What to know this week',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/crucial-jobs-report-kicks-off-a-new-month-what-to-know-this-week-104502430.html',
  'providerPublishTime': 1725273902,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/5fH341CBX9mURMqb5CzFow--~B/aD0zNDE5O3c9NTEyOTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-05/787a62e0-0142-11ee-beef-d4738fe84358',
     'width': 5129,
     'height': 3419,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5W3idBCF1k.C1XdVY3hzMg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-05/787a62e0-0142-11ee-beef-d4738fe84358',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^GSPC',
   'META',
   'MSFT',
   'NVDA',
   'SPY',
   'QQQ',
   'AAPL',
   'TSLA',
   'GOOG',
   'AVGO',
   '^DJI',
   '^IXIC']},
 {'uuid': 'af15506b-edb7-3e85-87b3-9993e7318293',
  'title': 'Billionaire Bill Gates Has 54% of His Trust Invested in 2 Brilliant Stocks',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/af15506b-edb7-3e85-87b3-9993e7318293/billionaire-bill-gates-has.html',
  'providerPublishTime': 1725270660,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/na2jucsSdH5L.Ixt2iMxAw--~B/aD0xNDE0O3c9MjEyMTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/866eb76aa9c240182044f03995558ea5',
     'width': 2121,
     'height': 1414,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/VVJpCWd8lc6.0XF6kgreYw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/866eb76aa9c240182044f03995558ea5',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', '^GSPC']},
 {'uuid': 'ba2ad49a-6515-37d7-8ea4-21239338ba42',
  'title': 'Microsoft Corporation (MSFT): This AI Stock Could Go Parabolic According to Financial Media',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/microsoft-corporation-msft-ai-stock-073635225.html',
  'providerPublishTime': 1725262595,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/FPV7LMJx9t7xViBmxMrZWw--~B/aD04MTY7dz0xNDU2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/ae3cb2a93ad8e5ddf6f94148e71f74b9',
     'width': 1456,
     'height': 816,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/snE9DwM_Mhbq41k5r0NVHA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/ae3cb2a93ad8e5ddf6f94148e71f74b9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '81e1b73e-6ce4-3118-9bbc-d8ffd2f7b12c',
  'title': '1 "Magnificent Seven" Stock That Could Go Parabolic if the Fed Cuts Rates in September',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/81e1b73e-6ce4-3118-9bbc-d8ffd2f7b12c/1-%22magnificent-seven%22-stock.html',
  'providerPublishTime': 1725228300,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/R3aCE_pVd9.aQ1tmMZWXfQ--~B/aD00NDE7dz03MjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/770f547ccb82d824fac3cace7cb78471',
     'width': 720,
     'height': 441,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/6YHERO2MzTKHNlkph86E4Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/770f547ccb82d824fac3cace7cb78471',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN', 'MSFT', 'NVDA']}]

In [ ]:
from plotly.offline import plot
from myUtils import symb_perf_stats, OBV_calc, UI_MW
import plotly.graph_objs as go
import talib as ta
import numpy as np

In [1]:
import yfinance as yf
import pandas as pd
from myUtils import pickle_load 
from myUtils import yf_print_symbol_data, yf_candlestick

verbose = False  # True prints more output

# path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_dir = "G:/My Drive/stocks/yfinance/"# Base directory for stock data
path_data_dump = path_dir + "VSCode_dump/"

filename_pickled_df_OHLCVA_downloaded = 'df_OHLCVA_downloaded'  # OHLCVA downloaded from Yahoo
filename_pickled_df_adjOHLCV = 'df_adjOHLCV'  # adjusted OHLCV

In [13]:
df_OHLCVA = pickle_load(path_data_dump, filename_pickled_df_OHLCVA_downloaded)

In [11]:
df_adjOHLCV = pickle_load(path_data_dump, filename_pickled_df_adjOHLCV)

In [15]:
df_OHLCVA['XOM']

Price,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1962-01-02 00:00:00+00:00,0.000000,1.589844,1.578125,1.578125,0.093385,902400.0
1962-01-03 00:00:00+00:00,0.000000,1.601563,1.578125,1.601563,0.094772,1200000.0
1962-01-04 00:00:00+00:00,0.000000,1.613281,1.597656,1.605469,0.095004,1088000.0
1962-01-05 00:00:00+00:00,0.000000,1.613281,1.566406,1.570313,0.092923,1222400.0
1962-01-08 00:00:00+00:00,0.000000,1.582031,1.546875,1.566406,0.092692,1388800.0
...,...,...,...,...,...,...
2024-08-28 00:00:00+00:00,117.000000,117.580002,116.260002,116.519997,116.519997,10742900.0
2024-08-29 00:00:00+00:00,117.199997,118.790001,116.349998,118.129997,118.129997,10753900.0
2024-08-30 00:00:00+00:00,116.790001,118.019997,116.290001,117.940002,117.940002,13284200.0
2024-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_OHLCVA['ERIE']

Price,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1962-01-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-08-28 00:00:00+00:00,488.950012,496.260010,486.089996,495.480011,495.480011,276600.0
2024-08-29 00:00:00+00:00,499.000000,503.820007,483.920013,499.980011,499.980011,87800.0
2024-08-30 00:00:00+00:00,502.059998,510.750000,501.760010,508.230011,508.230011,135000.0
2024-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_OHLCVA['FIX']

Price,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1962-01-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-08-28 00:00:00+00:00,335.309998,343.790009,331.489990,339.190002,339.190002,306200.0
2024-08-29 00:00:00+00:00,341.940002,358.890015,339.820007,347.329987,347.329987,585000.0
2024-08-30 00:00:00+00:00,349.359985,359.339996,347.739990,353.519989,353.519989,445700.0
2024-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN